@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600,700|Nothing+You+Could+Do|Overpass+Mono|Playfair+Display+SC:400,700,900|Roboto+Condensed:300,400&display=swap");
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Overpass Mono', monospace;
font-family: 'Playfair Display SC', serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Cormorant Garamond', serif; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #363636;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* ------------------ Loading ----------------------*/
/* Loading animation */
.path {
  stroke: #000;
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: DASH 5s ease-in-out alternate 0s forwards infinite;
  -webkit-animation: DASH 5s ease-in-out 0s forwards infinite;
  animation: DASH 5s ease-in-out 0s forwards infinite;
}

.path2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.path3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.path4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@keyframes DASH {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg {
  width: 30%;
  margin: 8% auto;
}

/* -------------------end of Loading ----------------*/
/*------------------- Home --------------------------*/
.container-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 30% 60%;
      grid-template-columns: 10% 30% 60%;
}

.container-home aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20%;
}

.container-home .fixed {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-home .container-home-middle {
  width: 100%;
  padding-top: 30%;
}

.container-home .container-home-middle h1 {
  font-size: 2.5em;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 0.2em;
}

.container-home .container-home-middle h2 {
  letter-spacing: 0.2em;
  font-size: 1.4em;
  width: 60%;
}

.container-home .container-home-middle .path {
  stroke-dasharray: 225;
  stroke-dashoffset: 226;
  -webkit-animation: path_draw_0 6000ms ease-in 0ms infinite, path-fade 6000ms linear 0ms infinite;
          animation: path_draw_0 6000ms ease-in 0ms infinite, path-fade 6000ms linear 0ms infinite;
}

@-webkit-keyframes path_draw {
  100% {
    stroke-dashoffset: 1;
  }
}

@keyframes path_draw {
  100% {
    stroke-dashoffset: 1;
  }
}

@-webkit-keyframes path-fade {
  0% {
    stroke-opacity: 1;
  }
  94.44444444444444% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}

@keyframes path-fade {
  0% {
    stroke-opacity: 1;
  }
  94.44444444444444% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}

@-webkit-keyframes path_draw_0 {
  11.11111111111111% {
    stroke-dashoffset: 226;
  }
  48.333333333333336% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes path_draw_0 {
  11.11111111111111% {
    stroke-dashoffset: 226;
  }
  48.333333333333336% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.container-home .container-home-middle .st0 {
  fill: none;
  stroke: #888;
}

.container-home .container-home-right {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-home .container-home-right .bg {
  position: absolute;
  top: 15%;
  left: -9%;
  width: 100%;
  height: 77%;
  background: url(http://toshikokuno.com/img/strawberry.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 27vw;
  -webkit-clip-path: polygon(26% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(26% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.icon {
  font-size: 1.5em;
  color: #888;
  margin: 80% 0 0 3%;
}

/*------------------- end of Home --------------------------*/
/*-------------------- about -------------------------------*/
.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-about h3 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 3em;
  margin: 0;
}

.container-about p {
  font-size: 1.5em;
  color: #888;
  letter-spacing: 0.1em;
}

.container-about .toshiko {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.container-about .right {
  width: 70%;
  padding-left: 50px;
}

.container-about .right p {
  font-size: 1.2em;
}

.container-about .button a {
  font-family: "Playfair Display SC", serif;
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 0.9em 1.5em;
  letter-spacing: 0.2em;
}

.container-about .button a:hover {
  color: white;
  background-color: #be9c72;
  border: inherit;
}

/* ---------------------- end of about ----------------------*/
/* ------------------------- Work ---------------------------*/
.work {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  height: 90vh;
  overflow: hidden;
  white-space: nowrap;
}

.work .slider-wrapper {
  height: 100%;
  width: 100%;
}

.work .myWork {
  font-size: 2.3em;
  font-family: "Cormorant SC", serif;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.2em;
}

.work .container-work {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.work .container-work-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.work .changeImg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.work .changeTxt {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.work .title {
  font-family: "Playfair Display SC", serif;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.work .minitxt {
  font-size: 0.6em;
}

.work h4 {
  font-family: "Overpass Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 0 4%;
}

.work .work-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.work .work-right {
  background-color: #e2dcd7ff;
  width: 100%;
  height: 100%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .text {
  letter-spacing: 0.05em;
  line-height: 1.4em;
  white-space: initial;
}

.work .line {
  background-color: #888;
  margin: 0;
  width: 1px;
  height: 1.5rem;
}

.work .title,
.work h4 {
  text-align: center;
  margin: 1%;
}

.work .checkbtn {
  margin: 10% 0;
}

.work .checkbtn a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  color: #363636;
  padding: 0.8em 1.5em;
  letter-spacing: 0.4em;
}

.work .checkbtn a:hover {
  background-color: #a5865d;
  color: #fff;
}

.work .arrow-right {
  display: block;
  padding: 1.25rem 1.25rem;
  position: absolute;
  top: 86%;
  left: 87%;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.work .arrow-right:hover {
  -webkit-transform: translateX(2vw);
          transform: translateX(2vw);
}

.work .arrow-right .arrow {
  position: relative;
  height: 1px;
  width: 6vw;
  background-color: #363636;
}

.work .arrow-right .arrow::after {
  position: absolute;
  content: "";
  border: solid 4px transparent;
  border-left: solid 15px #363636;
  top: -3.2px;
  right: -10px;
}

.work .arrow-left {
  display: block;
  padding: 1.25rem 1.25rem;
  position: absolute;
  top: 86%;
  left: 52%;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.work .arrow-left:hover {
  -webkit-transform: translateX(-2vw);
          transform: translateX(-2vw);
}

.work .arrow-left .arrow {
  position: relative;
  height: 1px;
  width: 6vw;
  background-color: #363636;
}

.work .arrow-left .arrow::before {
  position: absolute;
  content: "";
  border: solid 4px transparent;
  border-right: solid 15px #363636;
  top: -3.2px;
  left: -10px;
}

/* ---------------------- end of work ----------------------*/
/*# sourceMappingURL=global.css.map */