:global .wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

:global .overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.menuTrigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin: 2%;
}

.menuTrigger span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.menuTrigger.active span {
  background-color: #fff;
}

.menuTrigger span:nth-of-type(1) {
  top: 0;
  width: 15px;
}

.menuTrigger span:nth-of-type(2) {
  top: 12.5px;
  width: 25px;
}

.menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

.menuTrigger.active span:nth-of-type(1),
.menuTrigger.active span:nth-of-type(3) {
  width: 20px;
}

.menuTrigger.active span:nth-of-type(2) {
  width: 40px;
}

.menuTrigger.active span:nth-of-type(1) {
  -webkit-transform: translate(-1px, 13px) rotate(-45deg);
  transform: translate(-4px, 6px) rotate(-45deg);
}

.menuTrigger.active span:nth-of-type(3) {
  -webkit-transform: translate(-1px, -13px) rotate(45deg);
  transform: translate(-3px, -7px) rotate(45deg);
}

:global nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(131, 126, 96, 0.781);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translate(250px);
          transform: translate(250px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav.open {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 50%;
}

:global nav li {
  text-align: center;
  padding: 2%;
  width: 100%;
}

:global ul {
  list-style: none;
}

:global li *:last-child {
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #f5f4f4;
  font-size: 1.3vw;
}

:global li *:last-child:hover {
  text-decoration: line-through;
}

.logo img {
  width: 7%;
  margin: 2%;
  display: inline-block;
  position: fixed;
  z-index: 100;
}
/*# sourceMappingURL=nav-bar.module.css.map */