:global .wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
:global .overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.menuTrigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  transform: translateX(0);
  transition: transform 0.5s;
  margin: 2%;
}

.menuTrigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.menuTrigger.active span {
  background-color: #fff;
}

.menuTrigger span:nth-of-type(1) {
  top: 0;
  width: 15px;
}

.menuTrigger span:nth-of-type(2) {
  top: 12.5px;
  width: 25px;
}

.menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

.menuTrigger.active span:nth-of-type(1),
.menuTrigger.active span:nth-of-type(3) {
  width: 20px;
}

.menuTrigger.active span:nth-of-type(2) {
  width: 40px;
}
.menuTrigger.active span:nth-of-type(1) {
  -webkit-transform: translate(-1px, 13px) rotate(-45deg);
  transform: translate(-4px, 6px) rotate(-45deg);
}
.menuTrigger.active span:nth-of-type(3) {
  -webkit-transform: translate(-1px, -13px) rotate(45deg);
  transform: translate(-3px, -7px) rotate(45deg);
}

:global nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(131, 126, 96, 0.781);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all 0.7s;
}
nav.open {
  transform: translateZ(0);
  width: 50%;
}
:global nav li {
  text-align: center;
  padding: 2%;
  width: 100%;
}
:global ul {
  list-style: none;
}
:global li *:last-child {
  letter-spacing: 0.2em;
  text-decoration: none;
  color: rgb(245, 244, 244);
  font-size: 1.3vw;
}
:global li *:last-child:hover {
  text-decoration: line-through;
}
.logo {
  img {
    width: 7%;
    margin: 2%;
    display: inline-block;
    position: fixed;
    z-index: 100;
  }
}

@media (max-width: 1250px) {
  :global li *:last-child {
    font-size: 1.6vw;
  }
}

@media (max-width: 1145px) {
  .menuTrigger {
    margin: 0.5%;
  }
}
@media (max-width: 812px) {
  :global li *:last-child {
    font-size: 2vw;
  }
}
@media (max-width: 736px) {
  .menuTrigger span:nth-of-type(1) {
    top: 0;
    width: 10px;
  }

  .menuTrigger span:nth-of-type(2) {
    top: 10.5px;
    width: 20px;
  }

  .menuTrigger span:nth-of-type(3) {
    bottom: 5px;
    width: 27px;
  }

  .menuTrigger.active span:nth-of-type(1),
  .menuTrigger.active span:nth-of-type(3) {
    width: 21px;
  }

  .menuTrigger.active span:nth-of-type(2) {
    width: 35px;
  }
  .menuTrigger.active span:nth-of-type(1) {
    -webkit-transform: translate(-1px, 13px) rotate(-45deg);
    transform: translate(-3px, 3px) rotate(-45deg);
  }
  .menuTrigger.active span:nth-of-type(3) {
    -webkit-transform: translate(-1px, -13px) rotate(45deg);
    transform: translate(-3px, -5px) rotate(45deg);
  }
  :global li *:last-child {
    font-size: 2.3vw;
  }
  
}
@media (max-width: 480px) {
  .logo {
    img {
      display: none;
    }
  }
  .menuTrigger{
    right: 4px;
    top: 17px;
  }
  :global li *:last-child {
    font-size: 3.2vw;
  }
  nav.open {
    width: 100%;
  }

}  